---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Polyvalence</h2>
		<p>Diplômée d'une école d'ingénieurs généraliste spécialisée dans le numérique, j'ai acquis des compétences solides dans une variété de langages de programmation. Cette polyvalence me permet d'occuper rapidement divers rôles. J'ai ainsi déjà contribué à des projets de développement full-stack, en Python, en intelligence artificielle, en systèmes embarqués... </p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Esprit d'équipe</h2>
		<p>J'ai une passion pour l'apprentissage et la collaboration en équipe, des valeurs essentielles que je souhaite cultiver dans mon futur emploi.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Passionnée</h2>
		<p>Enthousiaste des nouvelles technologies, je suis ravie de contribuer à façonner le présent et l'avenir des innovations.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
